body {
    background-color: #2e75b6;
  }
.letters{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #fbf3da;
    letter-spacing: 5px;
    text-shadow: 3px 3px 15px #c5c5c5, -2px 1px 30px #030200;
}
.button{
    margin: 10px;
    background-color:#ecbc10;
    cursor: pointer;
    box-shadow: 0 5px #999;
    text-align: center;
    font-size: 15px;
    width: 100px;
    border: 1px solid #000000 ;
  }
  .button:active {
    background-color:#ecbc10;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
  }

img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
